/* src/components/molecules/infoCard.css */
.card {
  background-color: #f9f9f9; /* Couleur de fond subtile */
  border-left: 4px solid #1e3a8a; /* Bordure colorée pour accentuer */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-image {
  width: 100%;
  height: 150px; /* Réduire la hauteur pour un aspect plus compact */
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0; /* Ajouter une bordure pour séparer l'image */
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #faf0e6; /* Soft beige pour l'intérieur */
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  flex-grow: 1;
}

.card-additional-info {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  color: #999;
}

.card-link {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #1e3a8a;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  align-self: flex-start;
}

.card-link:hover {
  color: #2563eb;
}
