/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Oswald:wght@400;700&family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Lora', serif;
}

.bg-global {
  @apply bg-soft-beige text-black;
}


