.practical-info-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  color: black;
}

.practical-info-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.practical-info-card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.practical-info-card p,
.practical-info-card ul {
  margin-bottom: 1rem;
}

.practical-info-card a {
  color: #1e90ff;
  text-decoration: underline;
}

.practical-info-card a:hover {
  color: #feb47b;
}

.practical-info-section {
  background: #f9f9f9;
  padding: 2rem 1rem;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-title {
  background: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  width: 100%;
  text-align: left;
}

.accordion-content {
  padding: 10px;
  background: #fff;
}

.map-container {
  margin: 15px 0;
  width: 100%;
  height: 300px;
}

@media (max-width: 640px) {
  .practical-info-card h3 {
    font-size: 1.25rem; /* Ajustement de la taille de la police pour les petits écrans */
  }

  .accordion-title {
    font-size: 1rem; /* Ajustement de la taille de la police pour les petits écrans */
  }
}
