.ticket-link-section {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.ticket-link-title {
  color: #1e90ff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ticket-link-button {
  background-color: #007BFF; /* Bleu clair correspondant au design */
  border: none;
  color: white;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px; /* Forme arrondie du bouton */
}

.ticket-link-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #007BFF; /* Couleur de la bordure au survol */
}

@media (max-width: 640px) {
  .ticket-link-title {
    font-size: 1.25rem; /* Ajustement de la taille de la police pour les petits écrans */
  }

  .ticket-link-button {
    font-size: 14px; /* Ajustement de la taille de la police pour les petits écrans */
    padding: 10px 14px; /* Ajustement du padding pour les petits écrans */
  }
}
